<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Foxtrot" connectionString="Data Source=anarkhia.tplinkdns.com;Initial Catalog=Foxtrot;User ID=Foxtrot;Password=FoxtrotJMT" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>